<div id="bodyTitle"><{$lang.activityExpList}></div>
<div class="bodyContent"  style="border-top: 2px solid #666;">
  	<div class="bodyContentBody">
  	<div id="bodyContentHead" class="bodyContentHead" style="text-align:left">
  	<form method="POST" name="myform" id="myform" action="./?act=Activity.getActivityList" onsubmit="pageGo(1);return false;">
  	<{$lang.SelectServers}>：<{include file="Common_server.list.html"}>&nbsp;&nbsp;
	<{$lang.exp_type}> : <select id="expType" name="expType">
				<{foreach key=k item=v from=$lang.expArray}>	
				<option value="<{$k}>" <{if $smarty.post.expType == $k}>selected="true"<{/if}>><{$v}></option>
				<{/foreach}>
						 </select>
	&nbsp;&nbsp;			
  	<{include file="Page.Show.html"}>					
	<br />
  	<{$lang.beginDate}>：<input id="begTime" class="Wdate" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="<{$smarty.post.begTime}>" style="width: 200px;" name="begTime" realvalue=""/> 
  	<{$lang.endDate}>：<input id="endTime" class="Wdate" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="<{$smarty.post.endTime}>" style="width: 200px;" name="endTime" realvalue=""/> 
	&nbsp;&nbsp;
	  <!-- p 为分页页码 -->
  	<input id="p" name="p" type="hidden" value="<{$smarty.post.p|default:1}>" />
  	<input name="search" type="submit" class="submit" value="<{$lang.search}>" />
  </form>
</div>
<table width="98%" class="tableContent" align="center">
    <thead>
    <tr align="center">
	<th><input id="checkAll" name="checkAll" type="checkbox" value="" onclick="checkAlls();"/>ID</th>
	<th><{$lang.activityTitle}></th>
	<th><{$lang.activityContent}></th>
	<th><{$lang.exp_type}></th>
	<th><{$lang.expRatio}></th>		
	<th><{$lang.beginDate}></td>	
	<th><{$lang.endDate}></td>	
	<th><{$lang.activityStatus}></td>
	<th><{$lang.activityAuthor}></td>
	<th><{$lang.activityCanceler}></td>
	<th><{$lang.handler}></td>	
	</tr>
    </thead>
    <tbody>
    <{foreach key=k item=v from=$data}>
    <tr align="center">
	<td><input name="select[]" id="select[]" type="checkbox" value="<{$v.id}>" onclick="checkOne()"/><{$v.id}></td>
	<td><{$v.title}></td>
	<td><{$v.content}></td>
	<td><{$lang.expArray.$v.exp_type}></td>	
	<td><{$v.exp_ratio}></td>		
	<td><{$v.begTime}></td>		
	<td><{$v.endTime}></td>		
	<td><{if $v.status == 0}><{$lang.activityNormal}><{else}><{$lang.activityCancel}><{/if}></td>		
	<td><{$v.author}></td>		
	<td><{$v.canceler}></td>		
	<td>
		<a href="javascript:void(0);" onclick="RQ('./?act=Activity.editActivity&server_id=<{$smarty.post.server_id}>&id=<{$v.id}>',pt.writeBody)"><{$lang.modify}></a>
		&nbsp;&nbsp;
	</td>	
	</tr>
	<{foreachelse}>
	<tr align="center"><td colspan="10"><{$lang.noResult}></td></tr>
    <{/foreach}>
    </tbody>
</table>
<div class="pages"><{$pages}></div>
</div>
</div>
