<table width="98%" class="tableContent" align="center">
    <tr align="center">
	<td><{$pet_name}></td>
	<td><{$lang.qualifications}></td>
    </tr>
     <tr align="center">
        <td><{$lang.tale1}></td>
        <td><{$tale1}></td>
    </tr>
    <tr align="center">
        <td><{$lang.tale2}></td>
        <td><{$tale2}></td>
    </tr>
    <tr align="center">
        <td><{$lang.tale3}></td>
        <td><{$tale3}></td>
    </tr>
    <tr align="center">
        <td><{$lang.tale4}></td>
        <td><{$tale4}></td>
    </tr>
    <tr align="center">
        <td><{$lang.tale5}></td>
        <td><{$tale5}></td>
    </tr>
    <tr align="center">
        <td><{$lang.tale6}></td>
        <td><{$tale6}></td>
    </tr>
</table>
