<div  align="center">
<table align="center" cellspacing="1" cellpadding="0" class="userTable" style="width:100%;" id="tbl">  
<tr>  
<td align="right"><{$lang.ServerName}>：</td>  
<td align="left">
	<span id='mask_serverName'></span>
</td>
</tr>
<tr>  
	<td align="right" width="20%"><{$lang.title}>：</td>  
	<td align="left"><span id="mask_title"></span></td>  
</tr>
<tr>  
	<td align="right"><{$lang.sender}>：</td>  
	<td align="left"><span  id="mask_author"></span></td>  
</tr>  
<tr>
	<td align="right"><{$lang.noticeType}>：</td>  
	<td align="left">  
		<span id="mask_d1" style='display:none'><{$lang.scrollNotice}></span>  
		<span id="mask_d2" style='display:none'><{$lang.talkNotice}></span>  
		<span id="mask_d3" style='display:none'><{$lang.scrollAndTalkNotice}></span>  
	</td>  
</tr>
<tr>
	<td align="right"><{$lang.beginDate}>：</td>  
	<td align="left"><span id="mask_begTime"></span>
	</td>  
</tr>  
<tr>  
	<td align="right"><{$lang.endDate}>：</td>  
	<td align="left"><span id="mask_endTime"></span></td>  
</tr>  
<tr style="display:none" id="NoticeDIV">  
	<td align="right"><{$lang.picUrl}>：</td>  <td align="left"><span id="mask_pictureUrl"/></span></td>  
</tr>  
<tr>  
	<td align="right"><{$lang.tollgate_id}>：</td>  <td align="left"><span id="mask_tollgate_id"></span></td>  
</tr>
<tr>  
	<td align="right"><{$lang.cycle}>：</td>  <td align="left"><span id="mask_cycle"></span><{$lang.second}></td>  
</tr>  

<tr>  
	<td align="right"><{$lang.content}>：</td>  
	<td align="left">
	<div id="mask_content"></div>
	</td>  
</tr>  
<tr>  
	<td align="right"><{$lang.status}>：</td>  
	<td align="left">
		<span id='mask_status1' style='display:none'><{$lang.normal}></span> &nbsp;
		<span id='mask_status2' style='display:none'><{$lang.pause}></span>&nbsp;
	</td>  
</tr>  
</table>  
</div>
