<div id="bodyTitle">
<{if $smarty.get.id > 0}>
	<{$lang.noticeEditTitle}>
<{else}>
	<{$lang.noticeAddTitle}>
<{/if}>
</div>
<div class="bodyContent"  style="border-top: 2px solid #666;">
<div class="bodyContentHead" style="text-align:left">
<iframe id="iframeload" name="iframeload" src="/img/1.gif" style="width:0px; height:0px; display:none" frameborder="0" scrolling="no">
</iframe>	
<form id="subform" name="subform" method="post" action="./?act=Notice.add" target="iframeload">  
<table align="center" cellspacing="1" cellpadding="0" class="userTable" style="width:80%;" id="tbl"> 
<tr>  
<input type="hidden" id="id" name="id" value="<{$id}>" />
</tr>
<tr>  
<td align="right"><{$lang.ServerName}>：</td>   
<td align="left">全服</td>
</tr>
<tr> 
	<td align="right">语言：</td>  
	<td align="left"><select name="contents_language" id="contents_language" > <option value="cn" >cn </option> ' +
		'<option value="en" >en </option> ' +
		'<option value="ru" >ru </option> ' +
		'<option value="de" >de </option> ' +
		'<option value="fr" >fr </option> ' +
		'<option value="it" >it </option> ' +
		'<option value="pt" >pt </option> ' +
		'<option value="es" >es </option> ' +
		'<option value="tr" >tr </option> ' +
		'</select>'</td> 
</tr>		
<tr>  
	<td align="right"><{$lang.title}>：</td>  
	<td align="left"><input type="text" name="title" value="<{$title}>" id="title" style="width:200px" /></td>  
</tr>
<tr>  
	<td align="right"><{$lang.sender}>：</td>  <td align="left"><input type="text" name="author" id="author"  readonly style="width:100px" value=" <{$smarty.session.infoUser.fullname}>">	</td>  
</tr>  
<tr>
	<td align="right"><{$lang.beginDate}>：</td>  
	<td align="left"><input type="text" name="begTime" style="width:200px" value="<{$begTime}>" id="begTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="Wdate" >
	</td>  
</tr>  
<tr>  
	<td align="right"><{$lang.endDate}>：</td>  <td align="left"><input type="text" name="endTime" style="width:200px" value="<{$endTime}>" id="endTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="Wdate" >
	</td>  
</tr>  
<tr style="display:none" id="NoticeDIV">  
	<td align="right"><{$lang.picUrl}>：</td>  <td align="left"><input type="text" name="pictureUrl" style="width:200px" value="<{$pictureUrl}>" id="pictureUrl"/></td>  
</tr> 

<tr>
					<td align="right"><{$lang.memo}>：</td>
					<td align="left"><font color="red">
					 1.图片（文件发前端上传）
                    "<"image">"文件名"<"/image">"
                    示例： "<"image">"gonggao1012"<"/image">"<br />
                    2.超链接
                    &ltlink _ id=链接&gt&ltcolor=色值&gt文案&lt/color&gt&lt/link&gt
                    示例： &ltlink _ id=https://discord.gg/XEFA98Zrsu&gt&ltcolor=#ff6100&gt加入discord&lt/color&gt&lt/link&gt<br />
                    3.换行
                    \n<br />
                    4.文字颜色
                    &ltcolor=色值&gt文案&lt/color&gt
                    示例：&ltcolor=#ff6100&gt加入discord&lt/color&gt  
					</font></td>
				</tr>
<tr>  
	<td>内容：</td>
	<td align="left">
	<textarea id="contents" name="contents" rows="6" cols="40"><{$content}></textarea>
	</td>  
</tr>
</tr>
	<tr>
	<td align="right">按钮显示：</td>  
	<td align="left">
	    <input type="radio" name="button_show" <{if $button_show == '1'}>checked="checked"<{/if}> value="1" />显示 &nbsp;
		<input type="radio" name="button_show" <{if $button_show == '2' || $button_show == ''}>checked="checked"<{/if}> value="2" />不显示&nbsp;
	</td>  
</tr> 
<tr>  
	<td align="right">按钮内容：</td>  
	<td align="left"><input type="text" name="button_title" value="<{$button_title}>" id="button_title" style="width:200px" /></td>  
</tr>
<tr>  
	<td align="right">按钮链接：</td>  
	<td align="left"><input type="text" name="button_url" value="<{$button_url}>" id="button_url" style="width:200px" /></td>  
</tr>

  
</table>
<div style="width:50%;margin:auto;padding:20px;">  
<input name="submit" type="button" class="button" value="<{$lang.Submit}>" onclick="noticeAdd('sadasd')" />&nbsp;&nbsp;
<input name="reset" type="reset" class="submit" value="<{$lang.Reset}>" />&nbsp;&nbsp;
</div>
</form> 
</div>
</div>


