		<table class="tableContent">
		<thead>
			<tr>
              <th><{$lang.equipTitle}></th>
              <th><{$lang.equipId}></th>
              <th><{$lang.buy_price}></th>
              <th><{$lang.sale_price}></th>
              <th><{$lang.quality}></th>
			  <th><{$lang.base_effect_values}></th>
			  <th><{$lang.init_up_effect_values}></th>
			  <th><{$lang.star}></th>
			  <th><{$lang.max_star}></th>
			  <th><{$lang.hole}></th>
			  <th><{$lang.is_chaos}></th>
			  <th><{$lang.equip_suit_id}></th>
			  <th><{$lang.jewel_level}></th>
			  <th><{$lang.jewel_equip_level}></th>
			  <th><{$lang.jewel_effect}></th>
			  <th><{$lang.intro}></th>
			  <th><{$lang.upgrade_next_id}></th>
			  <th><{$lang.upgrade_book_id}></th>
			  <th><{$lang.upgrade_book_num}></th>
			  <th><{$lang.quality_value}></th>
			  <th><{$lang.avatar_grade}></th>
			  <th><{$lang.avatar_effect_values}></th>
            </tr>
		</thead>
		<tbody>
        <{section name="ii" loop=$data}>
		<tr>
              <td><{$data[ii].title}></td>
              <td><{$data[ii].id}></td>
              <td><{$data[ii].buy_price}></td>
              <td><{$data[ii].sale_price}></td>
              <td><{$lang.quality_ex[$data[ii].quality]}></td>
			  <td><{$data[ii].base_effect_values}></td>
			  <td><{$data[ii].init_up_effect_values}></td>
			  <td><{$data[ii].star}></td>
			  <td><{$data[ii].max_star}></td>
			  <td><{$data[ii].hole}></td>
			  <td><{$data[ii].is_chaos}></td>
			  <td><{$data[ii].equip_suit_id}></td>
			  <td><{$data[ii].jewel_level}></td>
			  <td><{$data[ii].jewel_equip_level}></td>
			  <td><{$data[ii].jewel_effect}></td>
			  <td><{$data[ii].intro}></td>
			  <td><{$data[ii].upgrade_next_id}></td>
			  <td><{$data[ii].upgrade_book_id}></td>
			  <td><{$data[ii].upgrade_book_num}></td>
			  <td><{$data[ii].quality_value}></td>
			  <td><{$data[ii].avatar_grade}></td>
			  <td><{$data[ii].avatar_effect_values}></td>
        </tr>
		<{/section}>
		</tbody>
		</table>
