<div align="center">
<form id="subform" name="subform" method="post" action="./?act=Notice.setGm">
<br/>asdfasf<br/>
<!--
<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="hidden" id="server_ids[]" name="server_ids[]" value="<{$smarty.get.server_id}>">
<input type="hidden" id="rids" name="rids" value="<{$smarty.get.roleId}>" />
<input type="hidden" id="receiverType" name="receiverType" value="1"/>
<input type="hidden" id="single" name="single" value="1"/>
<input type="hidden" id="isGm" name="isGm" value="<{$smarty.get.isGm}>"/>
-->
</form>
</div>