<div id="bodyTitle"><{$lang.sendMailTitle}></div>
<div class="bodyContent"  style="border-top: 2px solid #666;">
<div class="bodyContentHead" style="text-align:left">
<iframe id="iframeload" name="iframeload" src="/img/1.gif" style="width:0px; height:0px; display:none" frameborder="0" scrolling="no">
</iframe>	
<form id="myform" name="myform" method="post" action="./?act=Notice.sendMail" target="iframeload" enctype="multipart/form-data" onsubmit="return confirm('<{$lang.emailConfirmAdd}>')">  
<table align="center" cellspacing="1" cellpadding="0" class="userTable" style="width:80%;" id="tbl">  
<tr>  
<td align="right"><{$lang.ServerName}>：</td>  
<td align="left">
<{include file="Common_server.Checkbox.html"}>
</td>
</tr>
<tr>  
<td align="right"><{$lang.receiverType}>：</td>
<td align="left">
	<select id="receiverType" name="receiverType">
		<option value="1" selected="selected"><{$lang.roleId}></option>
		<option value="2"><{$lang.roleName}></option>
	</select>
</td>  
</tr>  
<tr>  
<td align="right"><{$lang.receiver}>：</td>
<td align="left">
	<input id="type" name="type" type="radio" value="1" checked="checked" onclick="changeSendType(this.value,'<{$lang.inputCaption}>')"/>
	<{$lang.input}> &nbsp;
	<input id="type" name="type" type="radio" value="2" onclick="changeSendType(this.value,'<{$lang.uploadCaption}>')"/><{$lang.upload}>
	<br />	
	<input type="text" id="rids" name="rids" value="" style="width:250px"/>
	<input type="file" id="excleFile" name="excleFile"  value=""  style="display:none">
	<span id="caption"><{$lang.inputCaption}></span>
</td>  
</tr>  

<tr>  
	<td align="right"><{$lang.title}>：</td>  
	<td align="left"><input type="text" name="title" value="" id="title" style="width:200px" /></td>  
</tr>

<tr>  
	<td align="right"><{$lang.content}>：</td>  
	<td align="left"><textarea id="content_mail" name="content_mail" rows="6" cols="40"><{$content}></textarea></td>  
</tr>  

</table>  
<div style="width:50%;margin:auto;padding:20px;">  
<input type="hidden" value="9900000" name="MAX_FILE_SIZE" />
<input name="submit" type="submit" class="submit" value="<{$lang.Submit}>" />&nbsp;&nbsp;
<input name="reset" type="reset" class="submit" value="<{$lang.Reset}>" />
</div> 
</form> 
</div>
</div>
