<{$lang.showPage}>：<select id="pagecount" name="pagecount">
			<!--<option value="10" <{if $smarty.request.pagecount == 10}>selected="true"<{/if}>>10</option>
			<option value="20" <{if $smarty.request.pagecount == 20}>selected="true"<{/if}>>20</option> -->
			<option value="30" <{if $smarty.request.pagecount == 30}>selected="true"<{/if}>>30</option>
			<option value="50" <{if $smarty.request.pagecount == 50}>selected="true"<{/if}>>50</option>
			<option value="100" <{if $smarty.request.pagecount == 100}>selected="true"<{/if}>>100</option>																
	   </select>
