<div align="center">
<br><br><strong><{$lang.ch_base_baoshi_beibao}></strong><br>
<table width="98%" class="tableContent" align="center">
	<tr>
		<th><{$lang.baoshi_equip_id}></th>
		<th><{$lang.baoshi_title}></th>
		<th><{$lang.equip_num}></th>
	</tr>
    <{if $data.beibao}>
	<{foreach from=$data.beibao key=k item=v}>
	<tr>
		<td> <{$v.equip_id}> </td>
		<td> <{$v.equip_title}> </td>
		<td> <{$v.equip_num}> </td>
	</tr>
	<{/foreach}>
	<{/if}>
</table>

<br><br><strong><{$lang.ch_base_baoshi_other}></strong><br>
<table width="98%" class="tableContent" align="center">
	<tr>
		<th><{$lang.baoshi_equip_id}></th>
		<th><{$lang.baoshi_title}></th>
		<th><{$lang.equip_num}></th>
	</tr>
	<{if $data.other}>
    <{foreach from=$data.other key=j item=t}>
	<tr>
		<td><{$t.equip_id}></td>
		<td><{$t.equip_title}></td>
		<td><{$t.equip_num}></td>
	</tr>
	<{/foreach}>
	<{/if}>
</table>
</div>