<div id="bodyTitle">清除玩家二级密码</div>
<div style="font-size:16px;color:#FF0000">(备注：二级密码清除后二级密码被设置为6个8，即是:888888)</div>
<div class="bodyContent"  style="border-top: 2px solid #666;">
  	<div class="bodyContentBody">
	  	<div class="bodyContentHead" style="text-align:left">
			<form method="POST" name="myform" id="myform" action="./?act=Player.removePassword" onsubmit="pageGo(1);return false;">
				<{$lang.SelectServers}>：<{include file="Common_server.list.html"}>&nbsp;&nbsp;
			
		    <{$lang.selectUserType}>：<select id="user_type" name="user_type">
			<{assign var='t' value=$smarty.post.user_type}>
			<option value="0" <{if $t == '0'}>selected="true"<{/if}>><{$lang.plaseClew}></option>
			<option value="1" <{if $t == '1'}>selected="true"<{/if}>><{$lang.roleId}></option>
			<option value="2" <{if $t == '2'}>selected="true"<{/if}>><{$lang.roleName}></option>
					
		</select>
			<input id="user_value" name="user_value" type="text" value="<{$smarty.post.user_value}>" />
			  	<input id="p" name="p" type="hidden" value="<{$smarty.post.p|default:1}>" />
		  		&nbsp;&nbsp;
		  		<input name="search" type="submit" class="submit" value="提交" />
		  	</form>
		</div>
	</div>
</div>