&nbsp;<{$lang.SelectServers}>：<{include file="Common_server.list.html"}> &nbsp;
&nbsp;<{include file="Page.Show.html"}>
<{if $query_date_config}>
<br><br>
 <{section name="qdc" loop=$query_date_config}>
 	<{if $query_date_config[qdc] == 'beginDate'}>
	<{$lang.beginDate}>：<input id="beginDate" class="Wdate" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="<{if $smarty.post.beginDate}><{$smarty.post.beginDate}><{else}><{$smarty.now|date_format:'%Y-%m-%d'}> 00:00:00<{/if}>" style="width: 200px;" name="beginDate" realvalue=""/> 
	<{/if}>

	<{if $query_date_config[qdc] == 'endDate'}>
	<{$lang.endDate}>：<input type="text" class="Wdate" name="endDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" style="width: 200px;" value="<{if $smarty.post.endDate}><{$smarty.post.endDate}><{else}><{$smarty.now|date_format:'%Y-%m-%d'}> 23:59:59<{/if}>" realvalue="" />
	<{/if}>
<{/section}>
<{/if}>

<br><br>
&nbsp;&nbsp;<{$lang.present_equip_from_cid}>:<input id="from_cid" name="from_cid" type="text" value="<{$smarty.post.from_cid}>"/>
&nbsp;&nbsp;<{$lang.equip_id}>:<input id="equip_id" name="equip_id" type="text" value="<{$smarty.post.equip_id}>"/>
&nbsp;&nbsp;<{$lang.present_equip_to_cid}>:<input id="to_cid" name="to_cid" type="text" value="<{$smarty.post.to_cid}>"/>
