<div  id="bodyTitle"><{$lang.roleDetailInfo}></div>
<div class="bodyContent"  style="border-top: 2px solid #666;">
 <div class="bodyContentBody">
<div class="bodyContentHead" style="text-align:left">
</div>
  </div>
  <table width="90%"  class="tableContent">
  <tr>
  <td width="26%"><{$lang.roleId}></td>
  <td width="74%"><{$data.id}></td>
  </tr>
  <tr>
  <td><{$lang.userId}></td>
  <td><{$data.account_id}></td>
  </tr>
  <tr>
  <td><{$lang.passPortName}></td>
  <td><{$data.accountName}></td>
  </tr>
  <tr>
  <td><{$lang.roleName}></td>
  <td><{$data.name}></td>
  </tr>
  <tr>
  <td><{$lang.roleLevel}></td>
  <td><{$data.level}></td>
  </tr>
  <tr>
  <td><{$lang.experience}></td>
  <td><{$data.experience}></td>
  </tr>
  <tr>
  <td><{$lang.roleGender}></td>
  <td><{$lang.roleGenderType[$data.gender]}></td>
  </tr>
  <tr>
  <td><{$lang.roleSchool}></td>
  <td><{$data.school}></td>
  </tr>
  <tr>
  <td><{$lang.rolePotential}></td>
  <td><{$data.potential}></td>
  </tr>
  <tr>
  <td><{$lang.roleNowHp}></td>
  <td><{$data.hp}></td>
  </tr>
  <tr>
  <td><{$lang.roleMaxHp}></td>
  <td><{$data.maxhp}></td>
  </tr>
  <tr>
  <td><{$lang.roleNowMp}></td>
  <td><{$data.mp}></td>
  </tr>
  <tr>
  <td><{$lang.roleMaxMp}></td>
  <td><{$data.maxmp}></td>
  </tr>
  <tr>
  <td><{$lang.roleTitle}></td>
  <td><{$data.title}></td>
  </tr>
  <tr>
  <td><{$lang.roleEnergy}></td>
  <td><{$data.energy}></td>
  </tr>
  <tr>
  <td><{$lang.roleMoney}></td>
  <td><{$data.money}></td>
  </tr>
  <tr>
  <td><{$lang.roleReservefunds}></td>
  <td><{$data.reservefunds}></td>
  </tr>
  <tr>
  <td><{$lang.roleNormalGinger}></td>
  <td><{$data.normalGinger}></td>
  </tr>
  <tr>
  <td><{$lang.roleEfficientGinger}></td>
  <td><{$data.efficientGinger}></td>
  </tr>
  <tr>
  <td><{$lang.bind_currency}></td>
  <td><{$data.bind_currency}></td>
  </tr>
  <tr>
  <td><{$lang.bossScore}></td>
  <td><{$data.bossScore}></td>
  </tr>
  <tr>
  <td><{$lang.jjcPoint}></td>
  <td><{$data.jjcPoint}></td>
  </tr>
  <tr>
  <td><{$lang.factionGold}></td>
  <td><{$data.factionGold}></td>
  </tr>
  <tr>
  <td><{$lang.strength}></td>
  <td><{$data.strength}></td>
  </tr>
  <tr>
  <td><{$lang.intellect}></td>
  <td><{$data.intellect}></td>
  </tr>
  <tr>
  <td><{$lang.agility}></td>
  <td><{$data.agility}></td>
  </tr>
  <tr>
  <td><{$lang.stamine}></td>
  <td><{$data.stamine}></td>
  </tr>
  <tr>
  <td><{$lang.habitus}></td>
  <td><{$data.habitus}></td>
  </tr>
  <tr>
  <td><{$lang.potential}></td>
  <td><{$data.potential}></td>
  </tr>
  <tr>
  <td><{$lang.practice}></td>
  <td><{$data.practice}></td>
  </tr>
  </table>
</div>
</div>
