<div id="bodyTitle">
<{$lang.statisticGetJoinTaskInfo}>
</div>
<div class="bodyContent"  style="border-top: 2px solid #666;">
	<div class="bodyContentBody">
  		<div class="bodyContentHead" style="text-align:left">
  			<form id="myform" name="myform" action="./?act=Statistic.getJoinTaskInfo" onsubmit="FS('myform',pt.writeBody); return false;" method="post">
			<{$lang.SelectServers}>：<{include file="Common_server.list.html"}>&nbsp;&nbsp;
                     	<{$lang.taskDate}>：<{include file="Date.Select.html"}> &nbsp;&nbsp;
			<{$lang.levelMin}>:<input type='text' name='level_min' value="<{$smarty.post.level_min}>">
			<{$lang.levelMax}>:<input type='text' name='level_max' value="<{$smarty.post.level_max}>">
			<input name="search" type="submit" class="submit" value="<{$lang.search}>" />
  			</form>
		</div>
		<table width="98%" class="tableContent" align="center">
    		<thead>
    			<tr align="center">
				<th><{$lang.taskDate}></th>
				<th><{$lang.server}></th>
				<th><{$lang.way}></th>
				<th><{$lang.attendance}></th>
			
			</tr>
    		</thead>
    		<tbody>
			<{if $data}>
			<{foreach key=k item=v from=$data}>
    			<tr align="center">
				<td width='30%'><{$smarty.post.begTime}>-<{$smarty.post.endTime}></td>
				<td><{$v.servername}></td>
				<td><{$v.task_name}></td>
				<td><{$v.cn}></td>
			</tr>
			<{/foreach}>
			<{else}>
			<tr align="center"><td colspan="10"><{$lang.noResult}></td></tr>
    			<{/if}>
    		</tbody>
		</table>
	</div>
</div>
