<div id="bodyTitle"><{$lang.GenderDistribution}></div>
<div class="bodyContent"  style="border-top: 2px solid #666;">
  	<div class="bodyContentBody">
  	<div id="bodyContentHead" class="bodyContentHead" style="text-align:left">
  	<form method="POST" name="myform" id="myform" action="./?act=Statistic.getGenderDistribution" onsubmit="pageGo(1);return false;">
  	<{$lang.SelectServers}>：<{include file="Common_server.list.html"}>&nbsp;&nbsp;
  	<{include file="Page.Show.html"}>
	<{$lang.beginDate}>：<input id="begTime" class="Wdate" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd 00:00:00'})" value="<{$smarty.post.begTime}>" style="width: 150px;" name="begTime" realvalue=""/> 
  	<{$lang.endDate}>：<input id="endTime" class="Wdate" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd 23:59:59'})" value="<{$smarty.post.endTime}>" style="width: 150px;" name="endTime" realvalue=""/> 
	  <!-- p 为分页页码 -->
  	<input id="p" name="p" type="hidden" value="<{$smarty.post.p|default:1}>" />
  	<input name="search" type="submit" class="submit" value="<{$lang.search}>" />
  </form>
</div>
<table width="98%" class="tableContent" align="center">
    <thead>
    <tr align="center">
	<th><{$lang.taskDate}></td>	
	<th><{$lang.genderMan}></td>	
	<th><{$lang.genderWoMan}></td>	
	</tr>
    </thead>
    <tbody>
	<{foreach key=k item=v from=$data}>
    <tr align="center">
        <td><{$v.date}></td>
        <td><{$v.gender_data.0.count}></td>
        <td><{$v.gender_data.1.count}></td>
        </tr>
        <{foreachelse}>
        <tr align="center"><td colspan="10"><{$lang.noResult}></td></tr>
    <{/foreach}>
    </tbody>
</table>
<div class="pages"><{$pages}></div>
</div>
</div>
