
<{include file="Base.Query.html"}>

<br><br>
&nbsp;<{$lang.trade_gold_num}>(>):<input id="min_gold" name="min_gold" type="text" value="<{$smarty.post.min_gold}>" />
&nbsp;<{$lang.equip_id}>:<input id="equip_id" name="equip_id" type="text" value="<{$smarty.post.equip_id}>" />
&nbsp;<{$lang.master_cid}>:<input id="master_cid" name="master_cid" type="text" value="<{$smarty.post.master_cid}>" />
&nbsp;<{$lang.slave_cid}>:<input id="slave_cid" name="slave_cid" type="text" value="<{$smarty.post.slave_cid}>" />




